<hr>
<form action = "/maritime/{{ comp_name }}/comp_enroll_mate/" method="get">
    {% csrf_token %}
    <h1>
        Add new Mate
    </h1>
    <button type="submit">Go</button>
</form>
<hr>
<form action = "/maritime/{{ comp_name }}/comp_enroll_eng/" method="get">
    {% csrf_token %}
    <h1>
        Add new Eng
    </h1>
    <button type="submit">Go</button>
</form>
<hr>
<form action = "/maritime/{{ comp_name }}/comp_enroll_ship/" method="get">
    {% csrf_token %}
    <h1>
        Add new Ship
    </h1>
    <button type="submit">Go</button>
</form>
<hr>
<form action = "/maritime/{{ comp_name }}/comp_enroll_plan/" method="get">
    {% csrf_token %}
    <h1>
        Add new Plan
    </h1>
    <button type="submit">Go</button>
</form>
<hr>
<form action = "/maritime/{{ comp_name }}/comp_main/" method="get">
    {% csrf_token %}
    <h1>
        Go to Company Main Page
    </h1>
    <button type="submit">Go</button>
</form>

